body{
    background-color: rgb(60, 59, 59);
}

h1 {
    color: rgb(0, 145, 255);
    font-size: 75px;
    text-align: center;
}

.size.buttons {
    display: flex;
    justify-content: center;
    align-content:space-around;
    margin-bottom: 20px;
}

.color.buttons {
    display: flex;
    justify-content: center;
    align-content: space-between;
    margin-top: 20px;
}

.button {
    background-color: rgb(41, 41, 41);
    color:rgb(0, 145, 255);
    border: 1px solid rgb(0, 145, 255);
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    width: 150px;
}

.board.container {
    width: 600px;
    height: 600px;
    background-color: aliceblue;
    margin:auto;
    display: grid;
}